.card {
  background: #F7F9D6;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  border: 2px solid #000;
  width: 220px;
  height: 260px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  
}

.img {
  width: 120px;
  margin-bottom: 10px;
  margin-left: 25px;
}

.nome {
  font-weight: bold;
  font-size: 18px;
}

.linha {
  height: 2px;
  background: black;
  margin: 10px 0;
}

.preco span {
  font-size: 12px;
}

.preco strong {
  font-size: 16px;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}