<div class="card" (click)="adicionar()">

  <img [src]="produto.imagemUrl" class="img" [alt]="produto.nome">

  <div class="nome">{{ produto.nome }}</div>

  <div class="descricao">{{ produto.descricao }}</div>

  <div class="linha"></div>

  <div class="preco">
    <span>a partir </span>
    <strong>R$ {{ produto.preco | number:'1.2-2' }}</strong>
  </div>

</div>

<!-- MODAL OVERLAY — cobre a tela inteira por 0,5 s -->
<div class="modal-overlay" *ngIf="mostrarModal">
  <div class="modal-msg">ITEM ADICIONADO À SACOLA!!</div>
</div>
