<div class="sacola-container">

  <!-- TOPO -->
  <div class="topo">

    <!-- LOGO -->
    <div class="logo">
      <img src="assets/imagens/logo.png" alt="Logo">
    </div>

    <!-- TOTAL -->
    <div class="total-topo">
      Total: <strong>R$ {{ total | number:'1.2-2' }}</strong>
    </div>

  </div>

  <h1 class="titulo"><img src="assets\imagens\SacolaIcon.png" class="SacolaIcon"> Sacola</h1>

  <!-- LISTA -->
  <div *ngIf="itens.length > 0; else vazio">

    <div class="item-card" *ngFor="let item of itens">

      <!-- ESQUERDA -->
      <div class="item-info">
        <img [src]="item.imagem_url" class="produto-img">

        <div>
          <h3>{{ item.produtos_nome }}</h3>
        </div>
      </div>

      <!-- DIREITA -->
      <div class="item-acoes">

        <span class="preco">R$ {{ item.preco }}</span>

        <div class="quantidade">
          <button class="btn-qtd" (click)="diminuir(item.produtos_id)">−</button>

          <span class="qtd">{{ item.quantidade }}</span>

          <button class="btn-qtd" (click)="aumentar(item.produtos_id)">+</button>
        </div>

        <button class="btn-delete" (click)="remover(item.produtos_id)">
          🗑
        </button>

      </div>

    </div>

  </div>

  <!-- SACOLA VAZIA -->
  <ng-template #vazio>
    <p>Sua sacola está vazia 😢</p>
  </ng-template>

  <!-- AÇÕES (SEMPRE VISÍVEL) -->
  <div class="acoes">

    <button class="btn-voltar" routerLink="/menu">
      ← Voltar
    </button>

    <button *ngIf="itens.length > 0"
            class="btn-cancelar"
            (click)="limpar()">
      ✖ Cancelar Pedido
    </button>

    <button *ngIf="itens.length > 0"
            class="btn-pagar"
            routerLink="/pagamento">
      💰 Pagar
    </button>

  </div>

</div>