.cart {
  width: 300px;
  padding: 15px;
  border-left: 2px solid #ccc;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.controle {
  display: flex;
  gap: 5px;
}

button {
  cursor: pointer;
}

.total {
  margin-top: 15px;
  font-size: 18px;
}